@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}body{
	 background:#86c9ef url('../pic/land_left_right.png') no-repeat bottom center;
    font-family: Arial, sans-serif;
}#everything{
	position:relative;
	background:transparent;
	width:980px;
	margin:0 auto;
	text-align: left;
	z-index: 1000;
}h1,h2,h3{font-family:arial,sans-serif;}

.columns{
	padding-left:20px;
	padding-right:20px;
}#main #columnA{
	width:620px;
	margin:20px 20px 0 0;
}
.column{
	float: left;
	color:#3e3e3e;
	font-size:12px;
}
ul{list-style-type: none;}li{list-style-type: none;}

#videos_content,#explore_content,#activity_content, #groups_content{
}
#videos_meat,#groups_meat{
	background-color: rgb(255, 255, 255);
	-moz-border-radius: 10px 
10px 10px 10px;
	padding: 10px;
}
.clear {
	clear:both;
	clear:both;
}

a,a:link,a:visited,a:active,.faux_link{text-decoration: none;color:#80CEFE;outline: none;cursor: pointer;}a:hover,.faux_hover,.faux_link:hover{color: #fbca54;cursor: pointer;text-decoration: none;}

.next {
	 margin:10px;



    *margin:0px 10px 10px 10px;
    height:33px;
    text-align: center;
    background-color: #59A5D1;
    color: #fff;
    vertical-align: middle;
    line-height: 33px;
    border: 1px solid #408BB6;
	}

#columnB{width:300px;margin-top:20px;}.join_login_frame {
	margin-bottom: 20px;
	margin-top: 10px;
}
div.nippleBox{position: relative;overflow:hidden;}
div.nippleBox div.bar{width:300px;height:25px;background-color: rgb(78, 186, 255);text-align: left;}
div.nippleBox div.bar h4{
	float:left;
	line-height:25px;
	padding:0 0 0 8px;
	margin:0;
	font-size:12px;
	font-family: verdana,sans-serif;
	text-align: left;
}div.nippleBox div.nipple{
	position:absolute;
	left:16px;
	top:24px;
	width:0;
	height:0;
	border-top:6px solid #4ebaff;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:0;
	z-index:2;
}
div.nippleBox div.content{position: relative;z-index:1;}
.ad{
	position: relative;
	background-color:#f4f4ee;
}
div.nippleBox.arousedBaboon div.bar{background-color:#fc575e;}
div.nippleBox.arousedBaboon div.nipple{border-top-color:#fc575e;}div.nippleBox div.products{margin-bottom:20px;}
div.nippleBox div.products ul.dottedlist li{padding:8px 0px;}.dottedlist li.first{background: transparent;margin-top:5px;}
.dottedlist li{padding:5px 0px;}
div.nippleBox div.products ul.dottedlist li a{width:100%;height:100%;}div.nippleBox div.products ul.dottedlist li .home_icon{
	float: right;
	height:49px;
	width:59px;
	margin-left:10px;
	background-image: url(../pic/sprite_explore.png);
}a#product_first .home_icon{background-position:0 0;}a#product_first:hover .home_icon{background-position: -59px 0;}
div.nippleBox div.products ul.dottedlist li h3{font-size:14px;margin-bottom:2px;}
div.nippleBox div.products ul.dottedlist li p{color:#3e3e3e;line-height:16px;}
a#product_second .home_icon{background-position:0 -49px;}a#product_second:hover .home_icon{background-position: -59px -49px;}
a#product_third .home_icon{background-position:0 -98px;}a#product_third:hover .home_icon{background-position: -59px -98px;}
div.nippleBox div.products ul.dottedlist li.last{padding-bottom:0;}
div.nippleBox.arrogantSunflower div.bar{background-color:#fbca54;}
div.nippleBox.arrogantSunflower div.bar{background-color:#fbca54;}
#main #footer{
	padding:523px 0 10px 75px;


padding:523px 0 10px 35px;				font:normal 10px verdana,serif;
	color:#969696;
	text-align:center;
	background: no-repeat bottom center;
	background-image: url(../pic/land_center.png);
}
#main #footer div.legal_container{float: left;}#main #footer a{color:#fff;}
#main #footer a:hover{color:#f75342;}div.nippleBox.arrogantSunflower div.nipple{border-top-color:#fbca54;}
a,input,textarea,select{outline:0 none;}
div.nippleBox.pickleTickle div.bar{background-color:#66cc9a;}div.nippleBox.pickleTickle div.nipple{border-top-color:#66cc9a;}
.people{background-position:45% left;
	height:1%;
}.people .left{float: left;width:140px;margin-right:20px;}.people .right{position: relative;float: left;width:140px;}.people #faf input{width:128px;border:3px solid #CECEC2;font: normal 11px verdana,sans-serif;color:#969696;padding:3px;}.people .top{font-weight:bold;height:18px;}.people .yurt{height:30px;}.people .yurt .none{color:#969696;}.people .left .top a{float: right;font: normal 10px verdana,sans-serif;padding-right:4px;}.people .left .yurt img{margin-right:2px;}.people .left .yurt img.last{margin-right:0px;}.people p{margin-top:10px;padding:10px 0 0 0;font-size:10px;}.people p a{font-weight:bold;}
.nippy{margin:10px 0 20px 0;}#columnB div.people div.right div.yurt input{padding:3px;width:128px;font:normal 11px verdana,sans-serif;color:#969696;border:3px solid #e7e7de;}
div.nippleBox div.bar a.toggle{color:#fff;display:block;float: right;margin:6px 5px 0 0;}
#stats{margin-bottom:20px;}#stats #graph{margin:10px 0 5px 0;}#stats #graph ul li{display:block;float: left;width:93px;margin:0 10px 0 0;background:none;}#stats #graph ul li.last{margin:0;}#stats #graph ul li p{font:bold 11px/11px arial,sans-serif;text-align:center;margin: -1px 0 0 0;padding:10px 0;}#stats #graph ul li.plays p{background:#d9f2e5;color:#6c9;}#stats #graph ul li.likes p{background:#fed5d7;color:#fc575e;}#stats #graph ul li.comments p{background:#d3eeff;color:#4ebaff;}#stats #graph ul li p var{display:block;font:bold 24px/28px arial,sans-serif;letter-spacing: -1px;}#stats #graph ul li div.sparkline{margin:0;width:93px;height:20px;}#stats #graph p.date{color:#969696;font: normal 10px verdana,sans-serif;text-align:center;margin:10px 0 0 0;}#stats table.spreadsheet{display:block;margin:10px 0 5px 0;width:300px;font:bold 12px/12px arial,sans-serif;border-collapse:separate;/border-collapse:collapse;}#stats table.spreadsheet thead th{font-weight:bold;text-align:center;vertical-align:bottom;padding:3px;width:76px;font-size:12px;border-bottom:3px solid #ddd;}#stats table.spreadsheet thead th.date{width:72px;color:#969696;}#stats table.spreadsheet thead th.total_plays{color:#6c9;border-bottom-color:#6c9;}#stats table.spreadsheet thead th.likes{color:#fc575e;border-bottom-color:#fc575e;}#stats table.spreadsheet thead th.comments{color:#4ebaff;border-bottom-color:#4ebaff;}#stats table.spreadsheet tr td{font-size:14px;text-align: right;padding:5px 10px;border-bottom:1px dotted #ddd;}#stats table.spreadsheet tfoot tr td,#stats table.spreadsheet tfoot tr th{border-top:3px solid #ddd !important;border-bottom: none;}#stats table.spreadsheet tbody tr td.grey{color:#969696;}#stats table.spreadsheet tbody tr.alt td{}#stats table.spreadsheet tbody tr td.first{border-left:1px dotted #ddd;}#stats table.spreadsheet tbody tr td.date{font: normal 10px verdana,sans-serif;color:#969696;text-align:left;white-space:nowrap;}#stats table.spreadsheet tbody tr td.date sup{font-size:9px;vertical-align: text-top;}#stats table.spreadsheet tfoot tr td,#stats table.spreadsheet tfoot tr th{padding:4px 10px 0 10px;text-align:right;font-size:14px;border-top:1px dotted #ddd;}#stats table.spreadsheet tfoot tr th{font-size:12px;}#stats table.spreadsheet tfoot tr th{text-align:center;}#stats #stats_pager{font: normal 10px verdana,sans-serif;margin-bottom:5px;}#stats #hd_embed_stats{margin:10px 0 5px 0;padding:5px 10px 5px 40px;font:normal 10px/8px verdana,sans-serif;border:1px dotted #ecb7be;background:#fcc7ce url('http://assets.vimeo.com/images/plus_icon.gif') no-repeat 10px center;}#stats #hd_embed_stats var{font:bold 12px arial,sans-serif;}#stats #embed_stats p{margin-top:5px;}#stats #embed_stats ul{margin-top:5px;}#stats #embed_stats ul li a{font-weight:bold;}#stats #embed_stats ul li a.blacklist{color:#ccc;}#stats #embed_stats ul li a.blacklisted{color:#f00;}
#stats #graph{margin:10px 0 5px 0;}#stats #graph ul li{display:block;float: left;width:93px;margin:0 10px 0 0;background:none;}#stats #graph ul li.last{margin:0;}#stats #graph ul li p{font:bold 11px/11px arial,sans-serif;text-align:center;margin: -1px 0 0 0;padding:10px 0;}#stats #graph ul li.plays p{background:#d9f2e5;color:#6c9;}#stats #graph ul li.likes p{background:#fed5d7;color:#fc575e;}#stats #graph ul li.comments p{background:#d3eeff;color:#4ebaff;}#stats #graph ul li p var{display:block;font:bold 24px/28px arial,sans-serif;letter-spacing: -1px;}#stats #graph ul li div.sparkline{margin:0;width:93px;height:20px;}#stats #graph p.date{color:#969696;font: normal 10px verdana,sans-serif;text-align:center;margin:10px 0 0 0;}
.joined{display: inline;color:#97A500;padding:2px 10px 0 0px;font-size:11px;}
#toolbar{
	position:absolute;
	top:100px;
	right:20px;
	text-align: right;
	width:400px;
	z-index:100;
}
div.toolbar_item{float: right;text-align:center;color:#969696;font:10px verdana,sans-serif;cursor: pointer;padding-left:20px;}div.toolbar_item a{color:#969696 !important;}div.toolbar_item .toolbar_image{
	background: url('../pic/sprite_toolbar.png') no-repeat;
	height:41px;
}div.toolbar_item a #toolbar_settings{width:40px;background-position:0 0;}
div.toolbar_item a:hover #toolbar_settings{background-position:0 -100px;}
div.nippleBox.soxsSoul div.bar{background-color:#3e3e3e;}div.nippleBox.soxsSoul div.nipple{border-top-color:#3e3e3e;}img{border:0;}
div.nippleBox.abrahamLincoln div.bar{
	background-color:#969696;
}div.nippleBox.abrahamLincoln div.nipple{border-top-color:#969696;}
div.nippleBox.guidoSuntan div.bar{background-color:#ff8a3c;}div.nippleBox.guidoSuntan div.nipple{border-top-color:#ff8a3c;}div.nippleBox.organicFritos div.bar{background-color:#aad450;}div.nippleBox.organicFritos div.nipple{border-top-color:#aad450;}div.nippleBox.guidoSuntan div.bar{background-color:#ff8a3c;}div.nippleBox.guidoSuntan div.nipple{border-top-color:#ff8a3c;}
div.nippleBox.arrogantSunflower div.bar{background-color:#fbca54;}div.nippleBox.arrogantSunflower div.nipple{border-top-color:#fbca54;}
.myactivity{
	margin-bottom: 20px;
}

#roundrect_push_video_form {
	height: 95px;
	width: 620px;
	position: absolute;
}
/*#push_video {
	height: 95px;
	position: relative;
	}


#roundrect_push_video_textarea {
	position: absolute;
	width: 580px;
	height: 41px;
	left: 20px;
	top: 22px;
}

#push_video_form {
	-moz-border-radius:10px;
	background-color: #e6e6dc;
	color: #FFF;
	height: 95px;


*height: 80px;





	*margin: 5px 5px;
}
#push_video_btn {
	position: absolute;
	background-color: #59A5D1;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #408BB6;
	border-right-color: #408BB6;
	border-bottom-color: #408BB6;
	border-left-color: #408BB6;
	color: #fff;
	width: 130px;
	left: 460px;
	top: 71px;
}
#push_video_textarea {
	-moz-border-radius: 11px;
	width: 560px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #e6e6dc;
	border-right-color: #e6e6dc;
	border-bottom-color: #e6e6dc;
	border-left-color: #e6e6dc;
	height: 40px;
	margin-left: 10px;
	overflow: hidden;
}*/
#header{*z-index:2;
	position:relative;
	color:#3e3e3e;
	background-image: url(../pic/manlianbig260178.jpg);
	background-repeat: no-repeat;
	background-position: 700px 0px;
	padding: 63px 0px 0px 20px;
}
#roundrect_cap {
	position:absolute;
	width: 980px;
	height: 40px;
	top: 83px;
	left: -1px;
	z-index: 1;
}
#cap {
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	background-color: #fff;


*background-color:#E7E7DE;
	height: 20px;
	position: relative;
	z-index: 0;
}
#groups_header{
	border:0;
	padding-top: 20px;
}
#groups_nav_container{
	bottom:0;
	border:0;
	margin-bottom:1px;
	height:32px;
	width:100%;
	font-size:18px;
	font-family:arial,helvetica,sans-serif;
	line-height:normal;
}
#main{
	width:980px;
	font-size:11px;
	background-color: #fff;
}
ul#groups_nav{margin:0;padding:0 0 0 20px;list-style: none;}
ul#groups_nav li{float: left;margin:0 5px 0 0;padding:0;}
ul#groups_nav li .tabbit,.tabmain{float: left;height:33px;overflow: hidden;}
ul#groups_nav li .tabmain{padding:0 10px;line-height:33px;}
ul#groups_nav li.active .tabmain {
background-color:#172322;
}
ul#groups_nav li a{display:block;margin:0;padding:0;}
ul#groups_nav li.active a {
color:#969696;
}
ul#groups_nav li a {
color:#80CEFE;
}
img.tabcorner {
vertical-align:top;
width:10px;
}
ul#groups_nav li .tabmain {
background-color:#FFFFFF;
}


#header strong {
	font-size: 33px;
	display: block;
	position: absolute;
	left: 200px;
	top: 21px;
	width: 260px;
	text-align: center;
}
/*
#main #columnA  ul.videos li.top{
	background:transparent;
	margin-top: 20px;
}

#main #columnA  ul.videos li{
	border-top:1px dotted #bebabb;
	margin:10px 10px 0px 10px;



*margin:0px 10px 0px 10px;				padding-top:11px;
	position: relative;
	width:560px;
}
#main #columnA ul.videos li.videos_top{
	border-style:none;
	margin-top: 0px;
}

.thumbnail{
	float:left;
	margin-right:10px;
	width:125px;
	height:94px;
	background: no-repeat top left;
	margin-left: 10px;
}
.digest{
	float:left;
	overflow:hidden;
	-moz-border-radius: 8px;
	width: 368px;
}
.top h3{font:bold 16px arial,sans-serif;}
.byline {color:#969696;line-height:16px;}
.description {padding-top:2px;line-height:16px;}
.digg_label {
	float: left;
	position: relative;
	width: 47px;
	margin-top: 10px;
	display: inline;
}
.digg_count {
	-moz-border-radius: 5px;
	width: 47px;
	text-align:center;
	padding: 13px 0;
	margin-bottom: 5px;
	height: 21px;
	background-color: #e6e6dc;
}
#share a{color:#fff;}
#share a:hover{color:#f75342;}
.share {
	background-color: #59A5D1;
	color: #fff;
	cursor:pointer;
	display:inline;
	float:left;
	line-height:15px;
	padding:3px;
	font-size: 80%;
	border: thin solid #408BB6;
	width: 47px;
	vertical-align: middle;
	text-align: center;
	
}

#roundrect_digg_count {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 50px;
	height: 50px;
}
.stat {
	padding-top:3px;color:#999;line-height:16px;
}
.comment {
	margin-right:5px;
}
.cancel {
	cursor: pointer;
	font:bold 14px verdana,sans-serif;
	color: rgb(216,41,13);
	position: relative;
	float: right;
}*/
.infoBox{font: normal 11px/14px verdana,sans-serif;margin:0px 0 30px 0;}.infoBox .portrait{float: left;width:75px;}.infoBox .data{float: right;width:215px;font: normal 11px/16px verdana,sans-serif;}.infoBox .data em{font-weight: normal;font-style: normal;}.infoBox .group_creator{font:bold 18px arial,helvetica,sans-serif;}.infoBox .description{font:bold 14px/18px arial,helvetica,sans-serif;margin:10px 0 0 0;}.infoBox #mini_logo{float: left;width:49px;}.infoBox #mini_name{float: right;width:240px;}.infoBox #mini_stats{font:bold 18px arial,helvetica,sans-serif;}.infoBox h1 img{width:49px;}.infoBox h1 .group_name{width:240px;line-height:1.1em;}
div#main, .columns .column {

}

#get_started,#join_button{margin:0 0 30px 0;}
#get_started .faux_link {

}
ul#can_do_list {
margin-left:15px;
margin-top:5px;
}
ul#can_do_list li {
line-height:18px;
list-style-type:disc;
}
div.nippleBox.groupsidebar div.bar{background-color: rgb(39, 51, 50);}
div.nippleBox.groupsidebar div.nipple{border-top-color: rgb(39, 51, 50);}
div.nippleBox div.bar h4, table#topics div.bgcolor1, table#topics div.bgcolor2, div.nippleBox div.bar div.content {
	color:#fff;
}
.nippleBox{margin:0 0 20px 0;}
.moderator_row {
margin:10px 0;
}.moderator_row .portrait {
display:inline;
float:left;
height:50px;
width:50px;
}

.portrait {
cursor:pointer;
}.moderator_row .portrait {
display:inline;
float:left;
height:50px;
width:50px;
}.moderator_row .data, .side_member_row .portrait {
	float:left;
	margin-left:10px;
	display: inline;
}.byline {
color:#969696;
}.date {
	font-size:12px;
}

.timeago, .date, .time {
color:#969696;
}
#join_btn_span {
	display:block;
	height:35px;
	font-size: 18px;
	line-height: 35px;
	color: #FFF;
	background-image: url(../pic/button_join_this_groupwhite.gif);
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 40px;
}
#get_started ul.buttons li {
	display:block;
	float:left;
	margin:0 0 10px;
	width:160px;
}
#get_started ul.buttons li a {
font-weight:bold;
line-height:25px;
}#get_started ul.buttons li a img {
display:block;
float:left;
margin:0 5px 0 0;
}
.sun{position:fixed;top:0;left:-1%;z-index:10;}#cloud2{position:fixed;top:325px;right:85%;z-index:40;}
