<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name/>
    <servlet-mapping>
        <servlet-name>testRenren</servlet-name>
        <url-pattern>/renrentest/list.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>index.do</welcome-file>
        <welcome-file>default.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>WebFilter</filter-name>
        <filter-class>servlet.WebFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/video.jsp</url-pattern>
        <url-pattern>/user_settings.jsp</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/iweishi2.0/index.jsp</url-pattern>
        <url-pattern>/iweishi2.0/home.jsp</url-pattern>
        <url-pattern>/iweishi2.0/video.jsp</url-pattern>
        <url-pattern>/iweishi2.0/user_settings.jsp</url-pattern>
        <url-pattern>/iweishi2.0/logout</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PyServlet</servlet-name>
        <servlet-class>org.python.util.PyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>testRenren</servlet-name>
        <servlet-class>test.testRenren</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PyServlet</servlet-name>
        <url-pattern>*.py</url-pattern>
    </servlet-mapping>
    <!---
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>*.test</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>HelloWorld</display-name>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>test.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <jsp-file>/test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>index</display-name>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>form</display-name>
        <servlet-name>form</servlet-name>
        <jsp-file>/form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/form.do</url-pattern>
    </servlet-mapping>
    -->
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
